*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(17, 71, 170);
    padding: 20px;
    color: rgb(8, 8, 64);
}

.logo {
    font-size: 40px;
    font-weight: bolder;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 10px;
}

.nav-links a{
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.nav-links a:hover{
    background: red;
    border-radius: 40px;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

#menu-toogle{
    display: none;
}

@media (max-width: 600px) {
    .nav-links{
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        text-align: center;
    }
}

.menu-icon{
    display: block;
}

#menu-toogle:checked + .menu-icon + .nav-links {
    display: flex;
}